.tt-dialog-meta {
  border-top: 2px solid var(--color-divider);
  border-bottom: 2px solid var(--color-divider);
  padding: 12px 0;
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.tt-dialog-meta__value {
  font-family: var(--font-heading);
  font-weight: 800;
  font-size: 18px;
}
