<div class="tt-lang">
  <button type="button" class="btn btn-ghost" aria-haspopup="true" (click)="toggle()">
    <svg
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      aria-hidden="true"
    >
      <circle cx="12" cy="12" r="10"></circle>
      <path d="M2 12h20"></path>
      <path
        d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
      ></path>
    </svg>
    {{ lang() }}
  </button>
  @if (open()) {
    <div class="tt-lang__menu">
      @for (item of langs; track item[0]) {
        <button
          type="button"
          class="tt-lang__item"
          [class.is-active]="item[0] === lang()"
          (click)="select(item[0])"
        >
          {{ item[1] }}
          <span class="tt-lang__code">{{ item[0] }}</span>
        </button>
      }
    </div>
  }
</div>
